{% extends 'base.html' %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Track Now</h2>
        <hr>
        <form class="form-inline" method="POST">
          {{form.hidden_tag()}}
            <div class="form-group mx-sm-3 mb-4 lg-6">
              <label for="inputTracking2" class="sr-only">Tracking Number</label>
              {{form.trackingNumber(class='form-control', placeholder='Paste Tracking Number')}}
            </div>
            {{form.submit(class='btn btn-primary mb-3')}}
          </form>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Princess Crews</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (732) 503-9519
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">name@example.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->
{% endblock content %}