<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post A Package</title>
</head>
<body>
    {% if trackingnum != None %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>Package Tracking Number:</strong> {{trackingnum}}
    </div>
    {% endif %}
    <form action="" method="POST">
        <legend>Post A Package And Get Tracking Number</legend>
        {{form.hidden_tag()}}
        <div class="form-group col-lg-6">
          <label for="">Package Name</label>
          {{form.packagename(class='form-control lg-6', placeholder='Package Name')}}
          <label for="">Package Quantity</label>
          {{form.quantity(class='form-control lg-6', placeholder='Package Quantity')}}
          <label for="">Package Location</label>
          {{form.location(class='form-control lg-6', placeholder='Package Location')}}
          <label for="">Package Status</label>
          {{form.status(class='form-control lg-6', placeholder='Package Status')}} <br>
        <div class="form group">
          {{form.submit(class='btn btn-primary')}}
          </div>
        </div>
        
    </form>


      <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>