{% extends 'base.html' %}
{% block content %}

    <div class="container col-lg-6">
      {% if trackingnum != None %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>Package Tracking Number:</strong> {{trackingnum}}
    </div>
    {% endif %}
    <!-- Displays Tracking Number -->
    <form action="" method="POST">
        <legend>Post A Package And Get Tracking Number</legend>
        {{form.hidden_tag()}}
        <div class="form-group">
    
          <label for="">Package Name</label>
          {{form.packagename(class='form-control', placeholder='Package Name')}}

          <label for="">Package Owner Name</label>
          {{form.packageownername(class='form-control', placeholder='Package Owner Name')}}

          <label for="">Package Owner Email</label>
          {{form.packageowneremail(class='form-control', placeholder='Package Owner Email', type='email')}}

          <label for="">Package Quantity</label>
          {{form.quantity(class='form-control', placeholder='Package Quantity')}}

          <label for="">Package Location</label>
          {{form.location(class='form-control', placeholder='Package Location')}}

          <label for="">Address</label>
          {{form.address(class='form-control', placeholder='Address', row='5')}}

          <label for="">Package Status</label>
          {{form.status(class='form-control', placeholder='Package Status')}} 
          <br>

        <div class="form group">
          {{form.submit(class='btn btn-primary')}}
          </div> <!-- Form Submit Button -->
        </div>
        
    </form>
    </div>
{% endblock content %}