{% extends 'base.html' %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Track Now</h2>
        <hr>
        <form class="form-inline" method="POST">
          {{form.hidden_tag()}}
            <div class="form-group mx-sm-3 mb-4 lg-6">
              <label for="inputTracking2" class="sr-only">Tracking Number</label>
              {{form.trackingNumber(class='form-control', placeholder='Paste Tracking Number')}}
            </div>
            {{form.submit(class='btn btn-primary mb-3')}}
          </form>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Ultimate Tracking</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (732) 503-9519
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">name@example.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <center>
    <div class="col-lg-6">
      <img src="{{url_for('static', filename='img/undraw_deliveries_131a.svg')}}" class="img-fluid" alt="">
    </div>
    </center>

    <hr>

    {% if packageitem != None %}
    {% for package in packageitem %}
    <div class="row">
      <div class="col-lg-6">
        <hr>
        <div class="h5">
          Delivery Progress:
        </div>
        <div class="progress">
          <div class="progress-bar-animated progress-bar-striped bg-success" role="progressbar" id="progress" style="width: {{package.progress}}%;" aria-valuemin="0" aria-valuemax="100">{{package.progress}}%</div>
        </div> <!-- Progress And Location -->
        <hr>
        <br>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Quick Notice:</strong> Your Package has been shipped from the deport and is now on the move! Please watch progress movement regularly as it moves!
        </div> <!-- Breif Package Movement Information -->
        
        <script>
          $(".alert").alert();
        </script>

      <div class="h5">
        Receiver Details:
      </div>
      <div class="card">
      <div class="card-body">
        <h4 class="card-title">Name: {{package.package.ownerdetails['name']}}</h4>
        <h6 class="card-text">Email: {{package.package.ownerdetails['email']}}</h6>
        <h6 class="card-text">Address: {{package.address}}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Description:</strong> {{package.description}}</li>
        <li class="list-group-item"><strong>Shipping Started:</strong> {{package.daytime}}</li>
        <li class="list-group-item"><strong>Arrival Date:</strong> Look out...</li>
      </ul>
      </div> <!-- Shipping Details -->
      </div> <!-- End Of first Column in this row -->

      <div class="col-lg-6">
        <div class="h5">
          Package Details:
        </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Item: {{package.package['packagename']}}</h4>
          <p class="card-text">Tracking No.: {{package.trackingnumber}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quantity: {{package.quantity}}</li>
          <li class="list-group-item">Status: {{package.status}}</li>
          <li class="list-group-item">Current Location: {{package.location}}</li>
          <li class="list-group-item">
            <img src="{{url_for('static', filename='img/QR.png')}}" class="img-fluid" alt="" width="70%" height="10%">
          </li>
        </ul>
      </div> <!-- Card That Displays Package Details -->
      </div>

    </div> <br>
    {% endfor %}
    {% endif %}
    <!-- Traacking Details -->
    <hr>
{% endblock content %}